.App {
  text-align: center;
  background-color: rgb(43, 43, 43);
  height: 100vh;
  color: white;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;

}

.mainContainer{

}

.playButtons{
  display: inline;
}

.playbtn{
  margin: 5%;
  width: 70px;
  height: 40px;
}
